[mysqld_safe]

[mysqldump]
quick
quote-names
max_allowed_packet                      = 1G

[mysqlhotcopy]
interactive-timeout

[client]
port                                    = 3306
socket                                  = /var/run/mysqld/mysqld.sock
default-character-set                   = utf8mb4

[mariadb]
tls_version                             = TLSv1.2,TLSv1.3

[mysqld]
user                                    = mysql
bind-address                            = 0.0.0.0
basedir                                 = /usr
datadir                                 = /var/lib/mysql
connect_timeout                         = 10
socket                                  = /var/run/mysqld/mysqld.sock
log-warnings

collation-server                        = utf8mb4_unicode_ci
init_connect                            = 'SET NAMES utf8mb4'
character_set_server                    = utf8mb4
character_set_filesystem                = binary

symbolic-links                          = 0
default_storage_engine                  = InnoDB

skip-character-set-client-handshake
skip-name-resolve

back_log                                = 100
max_heap_table_size                     = 16M
query_cache_limit                       = 1M
query_cache_min_res_unit                = 4K
query_cache_size                        = 1M
query_cache_type                        = OFF
sort_buffer_size                        = 2M
table_definition_cache                  = 400
table_open_cache                        = 4096
thread_cache_size                       = 75
tmp_table_size                          = 16M

max_allowed_packet                      = 256M
max_connect_errors                      = 100000
max_connections                         = 100
open_files_limit                        = 0

innodb_buffer_pool_size                 = 128M
innodb_data_file_path                   = ibdata1:10M:autoextend:max:10G
innodb_default_row_format               = dynamic
innodb_fast_shutdown                    = 1
innodb_file_per_table                   = 1
innodb_flush_log_at_trx_commit          = 1
innodb_flush_method                     = O_DIRECT
innodb_force_load_corrupted             = 0
innodb_force_recovery                   = 0
innodb_io_capacity                      = 200
innodb_lock_wait_timeout                = 50
innodb_log_buffer_size                  = 8M
innodb_log_file_size                    = 128M
innodb_old_blocks_time                  = 1000
innodb_purge_threads                    = 4
innodb_read_io_threads                  = 4
innodb_stats_on_metadata                = OFF
innodb_strict_mode                      = OFF
innodb_write_io_threads                 = 4

performance_schema                      = OFF

long_query_time                         = 2
slow_query_log                          = OFF
general_log                             = 0

log_warnings                            = 2

net_write_timeout                       = 90
net_read_timeout                        = 90
wait_timeout                            = 420
interactive_timeout                     = 420

relay_log_recovery                      = 0

optimizer_prune_level                   = 1
optimizer_search_depth                  = 62

transaction_isolation                   = REPEATABLE-READ
